{% extends 'contacts/base.html' %}

{% block content %}
<h1>Update Contact</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <label>ID:</label>
        {{ form.id }}
    </div>
    <div>
        <label>Name:</label>
        {{ form.name }}
    </div>
    <div>
        <label>Company:</label>
        {{ form.company }} <!-- Dropdown for company -->
    </div>
    <div>
        <label>Card 1:</label>
        {{ form.card1 }}
    </div>
    <div>
        <label>Card 2:</label>
        {{ form.card2 }}
    </div>
    <div>
        <label>Phone:</label>
        {{ form.phone }}
    </div>
    <button type="submit" class="action-button">Save Changes</button>
    <a href="{% url 'home' %}" class="action-button">Cancel</a>
</form>
{% endblock %}